<a href="https://colab.research.google.com/github/Sahar-Omari/Data-Science-Python-Libraries-/blob/main/DataScience_Udemy_Excercises_1to20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

In [ ]:

df=pd.DataFrame(data)

In [ ]:
round(df.isna().sum()/6,2)

size      0.17
color     0.00
gender    0.17
price     0.17
weight    0.33
bought    0.00
dtype: float64

EXCERSISE 2    fill null with mean

0    500.0
1    450.0
2    300.0
3      4.0
4    410.0
5      4.0
Name: weight, dtype: float64

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}
# np.average(df['weight']
df = pd.DataFrame(data=data)
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)
imputer = imputer.fit(df[['weight']])
df['weight'] = imputer.transform(df[['weight']])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

EXCERSISE 3

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

df = pd.DataFrame(data=data)
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
df[['weight']] = imputer.fit_transform(df[['weight']])

print(imputer.statistics_[0])

415.0

In [ ]:
print(df)

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

EXCERCISE 5

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

df = pd.DataFrame(data=data)
imp= SimpleImputer(missing_values=np.nan, strategy='constant',fill_value=99.0)

In [ ]:
df[['price']] = imp.fit_transform(df[['price']])

In [ ]:
print(df)

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN   99.0   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

EXCERCISE 6

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}
df = pd.DataFrame(data=data)

dff=df[df[['size','color','gender','price','weight','bought']].notna().all(axis=1) ]

In [ ]:
# print(dff.mean())
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

EXCERSICE 7

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

df = pd.DataFrame(data=data)
df_object = df.select_dtypes(include=['object']).fillna('empty')
print(df_object)

    size  color  gender bought
0     XL    red  female    yes
1      L  green    male     no
2      M   blue   empty    yes
3  empty  green  female     no
4      M    red  female    yes
5      M  green    male     no

EXCERCISE 8

In [ ]:
import pandas as pd
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
pd.cut(df.weight, bins=3, right=True)
df['weighr_cut']=pd.cut(df.weight, bins=3, right=True)
print(df)

   weight        weighr_cut
0    75.0  (67.977, 75.667]
1    78.5  (75.667, 83.333]
2    85.0    (83.333, 91.0]
3    91.0    (83.333, 91.0]
4    84.5    (83.333, 91.0]
5    83.0  (75.667, 83.333]
6    68.0  (67.977, 75.667]

**EXCERCISE 9**

In [ ]:
import pandas as pd
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
# pd.cut(df.weight,bins=pd.interval_range(start=60,end=95,periods=3))
cut = pd.IntervalIndex.from_tuples([(60, 75), (75,80 ), (80, 95)])
df["weight_cut"] = pd.cut(df.weight, len(cut), labels=cut)

In [ ]:
print(df)

   weight weight_cut
0    75.0   (60, 75]
1    78.5   (75, 80]
2    85.0   (80, 95]
3    91.0   (80, 95]
4    84.5   (80, 95]
5    83.0   (75, 80]
6    68.0   (60, 75]

In [ ]:
# solution 2 

df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95))
print(df)

   weight weight_cut
0    75.0   (60, 75]
1    78.5   (75, 80]
2    85.0   (80, 95]
3    91.0   (80, 95]
4    84.5   (80, 95]
5    83.0   (80, 95]
6    68.0   (60, 75]

**EXCERCISE 10**

In [ ]:
import pandas as pd
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95),labels=('light','normal','heavy'))
print(df)

   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light

**EXCERCISE 11**
using pd.get_dummies()

In [ ]:
import pandas as pd
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95), labels=['light', 'normal', 'heavy'])

In [ ]:
pd.get_dummies(df, prefix=['weight_cut'])

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0

**EXCERCISE 12** 

ASSIGN A NEW COLUMN **number** (NUMBER OF ITEMS)

In [ ]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)

In [ ]:

df['number']=[len(df['currency'][0]),len(df['currency'][1]),len(df['currency'][2]),len(df['currency'][3]),len(df['currency'][4])]

In [ ]:
# simpler solution 
df['number'] = df['currency'].apply(len)

In [ ]:
df

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

**EXCERCISE 13**

In [ ]:
import pandas as pd
import numpy as np

data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)

In [ ]:

df['PLN_flag'] = df['currency'].apply(lambda x: 1 if 'PLN' in x else 0)

In [ ]:
df

               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

**EXCERCISE 14**  
Split Hashtags

In [ ]:
import pandas as pd
df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})

In [ ]:
df = df['hashtags'].str.split('#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
print(df)

  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None

**EXCERCISE 15** 

Number of missing hashtags

In [32]:
import pandas as pd
import numpy as np


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df = df['hashtags'].str.split('#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']

In [27]:
df['missing']=4-df.count(axis=1)

In [28]:
df

  hashtag1 hashtag2 hashtag3  missing   m
0     good    vibes     None        1 NaN
1      hot   summer  holiday        0 NaN
2   street     food     None        1 NaN
3  workout     None     None        2 NaN

In [33]:
# Another way
df['missing'] = df.isnull().sum(axis=1)
df

  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2

**EXCERCISE 16** 
CONVERT STRING VALUESB TO INT

In [34]:
import pandas as pd


df = pd.DataFrame(data={'investments': ['100_000_000', '100_000', '30_000_000', '100_500_000']})
df= df.astype(int)

In [35]:
df

   investments
0    100000000
1       100000
2     30000000
3    100500000

**EXCERCISE 17**

In [36]:
from sklearn.datasets import load_iris 
df=load_iris()

In [51]:
print(load_iris().keys())

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

**EXCERCISE 18**

In [54]:
from sklearn.datasets import load_iris
data = load_iris()
print(data.feature_names)
print(data.target_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

**EXCERCISE 19**

In [ ]:
from sklearn.datasets import load_iris


data_raw = load_iris()

# SOLUTION
data=data_raw.data
target=data_raw.target
print(data.shape)
print(target.shape)

**EXCERCISE 20**

In [55]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']

In [57]:
X_train,y_train,x_test,y_test=train_test_split(data,target,test_size=0.3)

In [59]:
print(f'data_train shape: {X_train.shape}')
print(f'target_train shape: {y_train.shape}')
print(f'data_test shape: {x_test.shape}')
print(f'target_test shape: {y_test.shape}')

data_train shape: (105, 4)
target_train shape: (45, 4)
data_test shape: (105,)
target_test shape: (45,)